<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="auth-box m-3 m-md-0">
        <div class="auth-header text-center">
            <span><strong>REDEFINIR SENHA</strong></span>
        </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="auth-form">
            <div class="auth-body mb-4">
                <div class="row mb-3" [ngClass]="{ 'was-validated': forgotPasswordForm.controls.email.touched }">
                    <label for="email" class="col-sm-2 col-form-label">Email*</label>

                    <div class="col-sm-10">
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            formControlName="email"
                            placeholder="Informe seu Email"
                            required
                        />
                    </div>
                </div>
            </div>

            <div class="auth-footer text-center">
                <div class="form-group mb-2">
                    <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">ENVIAR</button>
                </div>

                <div class="form-group">
                    <span class="pe-1">Já tem conta?</span>
                    <a class="text-decoration-none" [routerLink]="['/signin']">Entrar</a>
                </div>
            </div>
        </form>
    </div>
</div>
